.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  z-index: 99999990;
}

.logo {
  position: fixed;
  left: 40px;
  top: 30px;
  width: 110px;
}

.avatar {
  position: fixed;
  right: 40px;
  top: 30px;
  width: 30px;
}
