.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99999990;
}

.logo {
  width: 110px;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-weight: 600;
  margin-left: 40px;
  margin-right: 40px;
}

.nav-links a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-size: 14px;
}

.nav-links a:hover {
  text-decoration: underline;
  color: black;
}

.avatar {
  width: 30px;
}

.search{
  margin-right: 30px;
}

@media (max-width: 800px) {
  .nav-links {
    display: none;
  }
  .search{
    display: none;
  }
}
